# The software libraries required to run this code can be installed using:
streamlit==1.26.0
pdfplumber==0.9.0
pyttsx3==2.90
pydub==0.25.1
Pillow==9.3.0
PyMuPDF==1.22.3
pytesseract==0.3.10
pygame==2.1.0
gTTS==2.2.3
PySimpleGUI==4.60.4
